# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/
ENV/

# Logs and misc
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
